  <footer id="footer">
    <nav>
      <ul>
        <li><span>DOUG Community Supported Resources</span></li>
        <li>
          <a href="{{.Site.Params.doug_csr_project}}">Repositories</a>
        </li>
          <li>
          <a href="/standards">Standards</a>
        </li>
          <li>
          <a href="/contributing">Contributing</a>
        </li>
      </ul>
    </nav>
    <!--<p>&copy; Licence MIT.</p>-->
  </footer>
