{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
<!--
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/jeblister/kube/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="https://github.com/jeblister/kube" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://imperavi.com/kube/" >Kube </a> from <a href="https://imperavi.com/">imperavi</a> is an awesome <mark>CSS & JS Framework</mark> and i designed this template for <a href="https://gohugo.io">hugo</a> with the same original philosophy !
  </div>
-->
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-6 item">
        <figure>
          <img alt="Container Base Images" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Container Base Images</h3>
        <p>Community-maintained container base images</p>
      </div>
      <div class="col col-6 item">
        <figure>
          <img alt="Templates" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Templates</h3>
        <p>OKD/OpenShift Application Templates</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-6 item">
        <figure>
          <img alt="Project Standards" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Project Standards</h3>
        <p>Some <a href='./standards'>minor standards</a> exist for unifying the projects within the community.</p>
      </div>
      <div class="col col-6 item">
        <figure>
          <img alt="Contribution Guidelines" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Contribution Guidelines</h3>
        <p>Contributions are always welcome!  Check out the <a href='./contributing'>contribution guidelines</a>!</p>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
